<ion-view view-title="PokémonGo-Bot Mobile" class="positive-bg">
  <ion-content class="padding">
    <ion-list>
        <div class="padding">
          <button class="button button-block button-large button-calm ion-social-google" ng-click="googleClicked()">
            Sign-in with Google
          </button>
        <button class="button button-block button-large button-light" ng-click="ptcClicked()">
          Sign-in with Pokémon Trainer Club
        </button>
    </ion-list>
  </ion-content>
</ion-view>
