<ion-view view-title="PokémonGo-Bot Mobile">
  <ion-content class="padding">
    <!--<ion-list>-->
        <section class="login-container">
            <div class="list">
              <button class="button button-block button-large button-balanced ion-social-google" ng-click="googleClicked()">
                Sign-in with Google
              </button>
               <button class="button button-block button-large button-light" ng-click="ptcClicked()">
                 Sign-in with Pokémon Trainer Club
               </button>
             </div>
        </section>
    <!--</ion-list>-->
  </ion-content>
</ion-view>
