<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-positive">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

     menu header
    <ion-header-bar class="bar-positive">
      <h1 class="title">Navigation</h1>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content>
      <ion-list>
        <!--<ion-item menu-close ui-sref="main.login">-->
          <!--Login-->
        <!--</ion-item>-->
        <ion-item menu-close ui-sref="main.map">
          <div class="item-icon-right">
            <i class="icon ion-map"></i>
            Map
          </div>
        </ion-item>
        <ion-item menu-close show-when-state="main.map" ui-sref="main.login">
          <div class="item-icon-right">
            <i class="icon ion-log-out"></i>
            Logout
          </div>
        </ion-item>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
