<ion-view view-title="Pokémon Trainer Club">
  <ion-content class="padding">

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="signIn(user)">
      Sign-in
    </button>

  </ion-content>
</ion-view>
